
<main class="container">

 <div class="row">
  <div class="col-12 m-3">
   <h3><%= @end_user.name %>さんのいいね一覧</h3>
  </div>
 </div>

 <div class="row">
  <% @like_posts.each do |post| %>
  <div class="col-md-3">
   <%= link_to post_path(post.id), class: "text-dark" do %>
    <%= image_tag attachment_url(post, :picture), size: "200x150" %>
   <% end %>
   <p><%= post.content %></p>
  </div>
  <% end %>
 </div>

</main>
