<div class="chats">
  <!--コメント一覧部分-->
   <div id="chats_area">
    <%= render 'public/chats/chats', chat: @chat %>
   </div>
  <!--部分テンプレート化-->
  <!--コメントフォーム-->
  <div class="new-chat">
   <%= render 'public/chats/form', chat: @chat %>
  </div>
</div>