<main class="container">
  <div class="row justify-content-center m-5">
   <h4>~このサイトの使い方~</h4>
  </div>
  <div class="d-flex flex-row w-100 m-5" style="height: calc(100% - 50px)">
   <div>
    <p>1.まずは自分の描いたイラストを投稿しよう</p></br>
    <p>2.他の利用者の投稿に「いいね」や「コメント」を残そう</p></br>
    <p>3.気になった相手を見つけたらフォローしよう</p></br>
    <p>4.相手からもフォローされてお互いにフォローしあえたらマッチング成立</p></br>
    <p>5.チャット機能を使って相手とメッセージのやりとりを楽しもう</p></br>
    <p>6.描きたいものが見つからない時は「お題一覧」から他の利用者が設定したお題に参加しよう</p></br>
    <p>7.自分では描けないけど誰かに描いて欲しいものがあるときは自分で「お題」を作成してみよう</p></br>
    <p>8.検索機能を使って自分好みのイラストを探して趣味友達を作ろう</p>
   </div>
   <div class="right m-5">
    <%= image_tag 'g1312.png', width: '40%', height: '40%' %></br>
    <%= image_tag 'g0993.png', width: '40%', height: '40%' %></br>
    <%= image_tag 'g0309.png', width: '40%', height: '40%' %>
   </div>
 </div>
</main>
