<div class="img">
 <div class="site-name">
  <h1>Shumitomo</h1>
  <p>同じ趣味を持つ仲間と出会いませんか？</p>
 </div>
 <div class="offer">
  <p>UnsplashのRachael Gorjestaniさんが撮影した写真</p>
 </div>
</div>
<main class="container">
  <div class="row d-flex justify-content-center m-5">
   <p>このサイトは、絵を描くことが好きな人同士男女問わずつながったり、交流することを目的に作られています。</p>
   <p>作品にコメントもできますが、相手を誹謗中傷する書き込みはしないようお願いいたします。</p>
   <p>同じ創作という趣味を持つ者同士、相手の好きなものを尊重しながら交流を楽しみましょう。</p>
  </div>
</main>