<main class="container">
  <div class="row d-flex justify-content-center m-5">
   <p>このサイトは、絵を描くことが好きな人同士男女問わずつながったり、交流することを目的に作られています。</p>
   <p>作品にコメントもできますが、相手を誹謗中傷する書き込みはしないようお願いいたします。</p>
   <p>同じ創作という趣味を持つ者同士、相手の好きなものを尊重しながら交流を楽しみましょう。</p>
  </div>
</main>