// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img {
  background-image: url(../images/rachael-gorjestani-X6CZGpJBi8U-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  font-family: fantasy;
  font-size: 100px;
}

.site-name {
  font-family: monospace;
  color: #00947a;
  text-align: center;
  padding: 30%;
  font-weight: 900;
  font-size: 20px;
  text-stroke: 0.5px #FFF;
  -webkit-text-stroke: 0.5px #FFF;
}

.offer {
  text-align: right;
  font-size: 5px;
}