// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img {
  background-image: url(../images/rachael-gorjestani-X6CZGpJBi8U-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  min-height: 100vh;
}

.wrapper {

}