<!--エラーメッセージ-->
<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul class="list-unstyled">
      <h5><%= object.errors.count %>件のエラー</h5>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
